.listagem-container {
    width: 100vw;
    min-height: 100vh;
    background-color: #f8fafc;
    padding: 2rem 4rem;
    box-sizing: border-box;
}

.listagem-header{ 
    background-color: #131212;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 2rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    margin-left: 0rem;
}

.listagem-header h1 {
    font-size: 2rem;
    color: white;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
}

.listagem-header p{
    color: white;
    margin-left: 2rem;
}

.resumo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 2rem 0;
    margin-top: 7rem;
    z-index: 1000;
}

.resumo-card {
    background: white;
    padding: 1.5rem;
    border-radius: 12px;
    border: 1px solid #e2e8f0;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.05);
}

.resumo-card span {
    color: #000000;
    font-size: 1.0rem;
    font-weight: 500;
}

.resumo-card h3 {
    font-size: 1.5rem;
    color: #1e293b;
    margin-top: 10px;
}

.resumo-card.highlight h3 {
    color: #10b981; 
}

.tabela-container {
    background: white;
    border-radius: 12px;
    border: 1px solid #e2e8f0;
    overflow: hidden;
}

.listagem-table {
    width: 100%;
    border-collapse: collapse;
}

.listagem-table th {
    background: #f1f5f9;
    padding: 15px;
    text-align: left;
    color: #000000;
    font-size: 0.95rem;
}

.listagem-table td {
    color:#000000;
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #e5e7eb;
    font-size: 1.0rem;
}

.btn-voltar {
    background-color: white;
    color: #000000;
    padding: 10px 20px;
    margin-right: 2.4rem;
    margin-bottom: 0.5rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.3s;
}

.btn-voltar:hover {
    background-color: #909db1;
}

.btn-voltar2 {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    margin-right: 2.4rem;
    margin-bottom: 0.5rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.3s;
}

.btn-voltar2:hover{
    background-color: #3f4347;
}

.search-group{
    display: flex;
    gap: 10px; 
    align-items: center; 
    width: 100%;
    margin-top: 0.6rem;
}

.form-input {
    flex: 1; 
    padding: 10px 20px;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    font-size: 1rem;
    min-width: 50%;
    height: 2.5rem;
    margin-bottom: 0.5rem;
}

.btn-search {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    white-space: nowrap; 
    font-weight: 600;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

.btn-excluir{
    background-color: #000000;
    color:#dc2626;
}

.btn-excluir:hover{
    background-color: #d1d5db;
}

.btn-editar{
    background-color: #000000;
    color: #fffb00;
}

.btn-editar:hover{
    background-color: #d1d5db;
}
