.listagem-container {
    width: 100vw;
    min-height: 100vh;
    background-color: #f8fafc;
    padding: 2rem 4rem;
    box-sizing: border-box;
}

.listagem-header h1 {
    font-size: 2rem;
    color: #000000;
    margin-bottom: 0.5rem;
}

.listagem-header p{
    color: #000000;
}

.resumo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 2rem 0;
}

.resumo-card {
    background: white;
    padding: 1.5rem;
    border-radius: 12px;
    border: 1px solid #e2e8f0;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.05);
}

.resumo-card span {
    color: #000000;
    font-size: 1.0rem;
    font-weight: 500;
}

.resumo-card h3 {
    font-size: 1.5rem;
    color: #1e293b;
    margin-top: 10px;
}

.resumo-card.highlight h3 {
    color: #10b981; /* Verde para dividendos */
}

/* TABELA FULL WIDTH */
.tabela-container {
    background: white;
    border-radius: 12px;
    border: 1px solid #e2e8f0;
    overflow: hidden;
}

.listagem-table {
    width: 100%;
    border-collapse: collapse;
}

.listagem-table th {
    background: #f1f5f9;
    padding: 15px;
    text-align: left;
    color: #000000;
    font-size: 0.95rem;
}

.listagem-table td {
    color:#000000;
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #e5e7eb;
    font-size: 1.0rem;
}

