/* src/pages/Dashboard/Dashboard.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

:root {
  --sidebar-width: 260px;
  --bg-main: #f8fafc;
  --primary-dark: #0f172a;
  --invest-green: #10b981;
  --border-light: #e2e8f0;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

.dashboard-header h1 {
    color: #000000;
}

.card h2 {
    margin-bottom: 0.80rem;
    margin-top: 0rem;
    font-size: 1.25rem;
    color: #000000;
}

.acoes-table-container h3{
    color:#000000;
}

.dashboard-container {
    display: flex;
    min-height: 100vh;
    width: 100vw;
    background-color: var(--bg-main);
    font-family: 'Inter', sans-serif;
}

.dashboard-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    max-width: 100%;
    margin-top: 10px
}

.dashboard-header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
    
}

.btn-logout {
    color: #dc2626;
    background: #ece8e8;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

.btn-logout:hover {
    background-color: rgb(230, 218, 218);
}

.grid-options {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    margin-bottom: 2rem;
    margin-top: 10rem;
}

.card {
    background: white;
    padding: 1.5rem;
    border-radius: 12px;
    border: 1px solid #e5e7eb;
    transition: border-color 0.2s;
}

.card:hover {
    border-color: #000000;
}

.btn-option {
    color: #48484d;
    width: 100%;
    text-align: left;
    padding: 0.75rem;
    margin-bottom: 0.5rem;
    border: none;
    border-radius: 8px;
    background-color: #eff6ff;
    cursor: pointer;
    transition: background 0.2s;
}

.btn-option:hover {
    background-color: #dbeafe;
}

.acoes-table-container {
    margin-top: 2rem;
    background: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    overflow-x: auto;
}

.acoes-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.acoes-table th, .acoes-table td {
    color:#000000;
    text-align: left;
    padding: 0.75rem;
    border-bottom: 1px solid #e5e7eb;
}

.acoes-table th {
    background-color: #f8fafc;
    color: #475569;
    font-weight: 600;
}

.acoes-table tr:hover {
    background-color: #f1f5f9;
}

.search-group {
    display: flex;
    gap: 8px;
    margin-top: 10px;
}

.search-group .form-input {
    flex: 1;
    padding: 8px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    font-size: 14px;
}
