/* src/pages/CadastrarAcao/CadastrarAcao.css */

.cadastro-card h2 {
    color:#0f0c0c;
}

.cadastro-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f4f6;
    padding: 20px;
    width: 100vw;
}

.cadastro-card {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

.cadastro-grid-form {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Divide em duas colunas */
    gap: 15px;
}

.full-width {
    grid-column: span 2; /* Ocupa as duas colunas */
}

.form-group label {
    display: block;
    font-size: 0.875rem;
    font-weight: 600;
    color: #374151;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    box-sizing: border-box;
}

.button-group {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.btn-salvar {
    flex: 2;
    background-color: #059669;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.btn-cancelar {
    flex: 1;
    background-color: #6b7280;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
}